@import url("style.css");

/*About Us*/

.row{
    margin-top: 1em;
}

h2{
    text-align: center;
}

.about-margin{
    margin-right: auto;
}

.about-margin-right{
    margin-left: auto;
}

.out-how-styles ~ ul {
    text-align: center;
}

.card{
    margin-top: 1em;
}