@import url("../css/style.css");


/*-----------------------------------------------------------------------------------------Course Table*/
.course-table {
    border: 2px solid #161616 ;
}

/*-----------------------------------------------------------------------------------------Accordion*/
.accordion {
    border: 2px solid #161616;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-border-radius: none;
    --accordion-active-color: #8568B5;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-active-color: none;
    --bs-accordion-btn-focus-border: none;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item-border {
    border-bottom: 2px solid #161616;
}

.accordion-button {
    font-weight: 700;
}

.accordion-text {
    font-family: 'hindi', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------Footer*/
.footer-cf-logo {
    font-size: 6rem;
}

.footer-list {
    list-style-type: none;
    padding-left: 0.8rem;
}

.footer-list-item,
.footer-bottom-section p {
    font-size: .825rem;
}

.footer-list-wrapper {
    margin-top: 1.25rem;
}
