/*font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;*/
/*Color Palette:
#fafafa - Off-White
#424242 - Light Grey
#161616 - Dark Grey
#714fa1 - Dark Purple
#8568b5 - Light Purple*/

/*------------------------------------------------------------------------------------------General Styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
}


/*--------------------------------------------------------------------------Fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p,
a {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

#user-reviews > h1, #event-promo > h1 {
    text-align: center;
}

/*--------------------------------------------------------------------------Carousel*/
.carousel-caption {
    background-color: #fafafa;
    border: 2px solid #161616;
    color: black;
    min-height: 70%;
    min-width: 24rem;
}

.carousel-caption h5 {
    font-size: 1rem;
    margin-top: 1rem;
}
.carousel-caption p {
    margin-bottom: 0;
}

.carousel-caption-wrapper {
    width: 100%;
    padding: 1rem;
}

/*--------------------------------------------------------------------------Buttons*/
.btn {
    padding: 0.5rem 2rem;
}

.btn-purple {
    background-color: #8568B5;
    border: none;
}

/*--------------------------------------------------------------------------Makes a pill button shape on all screen sizes- apply to all cta buttons for consistency */
.pill-btn {
    border-radius:1000px;
}

/*--------------------------------------------------------------------------Nav bar styles */

.navbar {
    margin-bottom: 0;
    border: 1px solid #000;
    width: 100%;
    background-color: #8568b5;
    box-shadow: 0px 2px 4px 0px #494949;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #000;
    font-weight: 500;
}
/*--------------------------------------------------------------------------Reviews Section */
#reviews-blurb > p {
    background-color: grey;
    color: #fafafa;
    padding: 2rem;
    border-radius: 0.5rem;
}

/*--------------------------------------------------------------------------Event Section */
#event-promo {
    background-color: #424242;
}

#event-promo > h1 {
    color: #fafafa;
    padding-top: 1.875rem;
}

/*--------------------------------------------------------------------------Footer*/
footer {
    background-color: #8568b5;
    color: #fafafa;
    min-height: 7.5rem;
    margin: 0;
    text-align: center;
    font-family: 'Hind', sans-serif;
}

footer .cf-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0.625rem;
    font-size: 3.125rem;
}

footer a {
    color: #fafafa;
    font-family: 'Hind', sans-serif;
    text-decoration: none;
}

footer .list-inline {
    padding-left: 0;
    list-style: none;
    padding-top: 0.9375rem;
}

footer .list-inline-item {
    margin-left: 1.875rem;
    font-weight: 500;
}



@media (min-width: 576px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .carousel-caption h5 {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .carousel-caption h5 {
        font-size: 4rem;
    }
}