/*font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;*/
/*Color Palette:
#fafafa - Off-White
#424242 - Light Grey
#161616 - Dark Grey
#714fa1 - Dark Purple
#8568b5 - Light Purple*/

/*General Styles*/
*,
*::before,
*::after {
    box-sizing:border-box;
}

/* Nav bar styles */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #8568b5;
}

/*Footer*/
footer {
    background-color: #8568b5;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    text-align: center;
    font-family: 'Hind', sans-serif;
}

footer .cf-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 50px;
}

a {
    color: #fafafa;
    font-family: 'Hind', sans-serif;
    text-decoration: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    padding-top: 15px;
}

.list-inline-item {
    margin-left: 30px;
    font-weight: 500;
}

