/*font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;*/
/*Color Palette:
#fafafa - Off-White
#424242 - Light Grey
#161616 - Dark Grey
#714fa1 - Dark Purple
#8568b5 - Light Purple*/

/*General Styles*/
*,
*::before,
*::after {
    box-sizing:border-box;
}

/* Nav bar styles */


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #8568b5;
}


